Name:,{{ email_facts.name }},,,Burden:,{{ burden }},
Phone: ,{{ email_facts.phone }},,,Margin:,{{ margin }},
Zip:,{{ email_facts.zip }},,,Sales Tax:,{{ sales_tax }},
Fencing type:,{{ email_facts.fence_type }},,,,,
Fence post type:,{{ email_facts.fence_post_type }},,,Number of days:,{{ days }},
Fence length:,{{ email_facts.fence_length }},,,,,
Fence height:,{{ email_facts.fence_height }},,,,,
Type of gate:,{{ email_facts.gate_type }},,,,,
Gate length:,{{ email_facts.gate_length }},,,,,
Number of gates:,{{ email_facts.gate_qty }},,,,,
Number of corners:,{{ email_facts.corner_qty }},,,,,
Gate opener:,{{ email_facts.gate_opener_qty }},,,,,
Fence line clear?,{{ email_facts.fence_line_clear }},,,,,
New or existing fence?,{{ email_facts.new_or_replacement }},,,,,
Hotwire on the inside of fence?,{{ email_facts.hotwire_inside }},,,,,
Pain the fence?,{{ email_facts.paint }},,,,,
What color for paint?,{{ email_facts.paint_color }},,,,,
Timeline:,{{ email_facts.timeline }},,,,,
,,,,,,
Materials:,,,,,,
Item:,Cost:,Sales Tax:,Burden:,Margin:,QTY:,Total:
{% set materials_starting_cell = 22 %}
{% for item in materials %}
{% set cell_number = materials_starting_cell|int + loop.index0 %}
{{ item.name }},,=F3*B{{ cell_number }},=F1*C{{ cell_number }},=F2*(D{{ cell_number }}+C{{ cell_number }}),{{ item.qty }},=F{{ cell_number }}*SUM(B{{ cell_number }}:E{{ cell_number }})
{% endfor %}
{% set materials_ending_cell = materials_starting_cell + materials|length - 1 %}
Total materials:,,,,,,=SUM(G{{ materials_starting_cell }}:G{{ materials_ending_cell }})
,,,,,,
Equipment:,,,,,,
Item:,Cost per day:,Sales Tax:,Burden:,Margin:,Days:,Total:
{% set equipment_starting_cell = materials_ending_cell + 5 %}
{% for item in equipment %}
{% set cell_number = equipment_starting_cell|int + loop.index0 %}
{{ item.name }},{{ item.cost }},={{ item.sales_tax }}*B{{ cell_number }},=F1*B{{ cell_number }},=F2*(D{{ cell_number }}+C{{ cell_number }}),=F5,=F{{ cell_number }}*SUM(B{{ cell_number }}:E{{ cell_number }})
{% endfor %}
{% set equipment_ending_cell = equipment_starting_cell + equipment|length - 1 %}
Total equipment:,,,,,,=SUM(G{{ equipment_starting_cell }}:G{{ equipment_ending_cell }})
,,,,,,
Labor:,,,,,,
Personnel:,Cost per hour:,Cost per day:,Burden:,Margin:,Days:,Total:
{% set labor_starting_cell = equipment_ending_cell + 5 %}
{% for item in fencing_labor %}
{% set cell_number = labor_starting_cell|int + loop.index0 %}
{{ item.name }},{{ item.hourly_cost }},={{ working_day_hours }}*B{{ cell_number }},=F1*C{{ cell_number }},=F2*(D{{ cell_number }}+C{{ cell_number }}),=F5,=F{{ cell_number }}*SUM(B{{ cell_number }}:E{{ cell_number }})
{% endfor %}
{% set labor_ending_cell = labor_starting_cell + fencing_labor|length - 1 %}
Total labor:,,,,,,=SUM(G{{ labor_starting_cell }}:G{{ labor_ending_cell }})
,,,,,,
,,,,Grand total:,=G{{ materials_ending_cell + 1 }}+G{{ equipment_ending_cell + 1 }}+G{{ labor_ending_cell + 1 }},
,,,,Grand total/ft:,=F{{ labor_ending_cell + 3 }}/B6,
