Name:,{{ email_facts.name }},,,,,,,
Phone: ,{{ email_facts.phone }},,,,Burden:,{{ burden }},,
Zip,{{ email_facts.zip }},,,,Margin:,{{ margin }},,
Email:,INSERT FROM DURABLE,,,,,,,
Acres:,{{ email_facts.acres }},,,,Timeline:,,,
Grass height in inches:,{{ email_facts.height }},,,,Hours:,{{ project.hours }},,
Dry enough to mow?,{{ email_facts.dry }},,,,Days:,{{ project.days }},,
Is there debris in the field?,{{ email_facts.trash }},,,,,,,
Timeline:,{{ email_facts.timeline }},,,,,,,
,,,,,,,,
,,,,,,,,
Equipment cost:,,,,,,,,
Item:,Rate:,Days:,Total:,Burden:,Margin:,Total:,,
{% set equipment_starting_cell = 14 %}
{% for machine in lookup('ansible.builtin.dict', equipment) %}
{% set cell_number = equipment_starting_cell|int + loop.index0 %}
{% if equipment[machine.key].type is defined %}{{ equipment[machine.key].type }}{% else %}{{ machine.key }}{% endif %},{{ equipment[machine.key].cost }},=G7,=C{{ cell_number }}*B{{ cell_number }},=G2*D{{ cell_number }},=(D{{ cell_number }}+E{{ cell_number }})*G3,=SUM(D{{ cell_number }}:F{{ cell_number }}),,
{% endfor %}
{% set equipment_ending_cell = equipment_starting_cell + lookup('ansible.builtin.dict', equipment)|length - 1 %}
Total Equipment:,,,,,,=SUM(G{{ equipment_starting_cell }}:G{{ equipment_ending_cell }}),,
,,,,,,,,
Labor cost:,,,,,,,,
Item:,Rate:,Hours:,Total:,Burden:,Margin:,Total:,,
{% set labor_cell = equipment_ending_cell + 5 %}
{{ equipment.mower.labor_type }},{{ labor[equipment.mower.labor_type] }},=G6,=C{{ labor_cell }}*B{{ labor_cell }},=G2*D{{ labor_cell }},=(D{{ labor_cell }}+E{{ labor_cell }})*G3,=SUM(D{{ labor_cell }}:F{{ labor_cell }}),,
Total Labor:,,,,,,=G{{ labor_cell }},,
,,,,,,,,
,,,,,,,,
Total Sales Tax,,,,,,"={{ sales_tax }}*SUM(G{{ equipment_ending_cell + 1 }},G{{ labor_cell + 1 }})",,
Total Estimate:,,,,,,"=SUM(G{{ equipment_ending_cell + 1 }},G{{ labor_cell + 1 }},G{{ labor_cell + 4 }})",,
,,,,,,,,
