Name:,{{ email_facts.name }},,,,,Burden:,{{ burden }}
Phone:,{{ email_facts.phone }},,,,,Margin:,{{ margin }}
Zip:,{{ email_facts.zip }},,,,,Timeline:,
Acres,{{ email_facts.acres }},,,,,Hours:,{{ project.hours }}
Grass height in inches:,{{ email_facts.height }},,,,,Days:,{{ project.days }}
Trash:,{{ email_facts.trash }},,,,,Weeks:,{{ project.weeks }}
Dry:,{{ email_facts.dry }},,,,,,
Timeline:,{{ email_facts.timeline }},,,,,,
,,,,,,,
,,,,,,,
Rates:,,,,,,,
Equipment:,Day cost:,Week cost:,Notes:,,,,
{% for entry in lookup('ansible.builtin.dict', equipment) %}
{%- if equipment[entry.key].type is defined -%}{{ equipment[entry.key].type }}{%- else -%}{{ entry.key }}{%- endif -%},{{ equipment[entry.key].cost }},,{%- if equipment[entry.key].acres_per_hour is defined -%}Acres per hour: {{ equipment[entry.key].acres_per_hour }}{%- endif -%},,,,
{% endfor %}
,,,,,,,
Labor:,Hour cost:,,,,,,
{{ equipment.mower.labor_type }},{{ labor[equipment.mower.labor_type] }},,,,,,
,,,,,,,
,,,,,,,
Totals:,,,,,,,
Equipment cost:,,,Labor cost:,,,Total cost:,
Item:,Cost:,,Item:,Cost:,,Total:,=SUM(B27+E27)
Cost:,=(B13+B14)*H5,,Cost:,=B18*H4,,Sales tax:,={{ sales_tax }}*H23
Burden:,=H1*B24,,Burden:,=H1*E24,,Final total:,=SUM(H23:H24)
Margin:,=(B24+B25)*H2,,Margin:,=(E24+E25)*H2,,,
Total:,=SUM(B24:B26),,Total:,=SUM(E26:E26),,,
